main{
    background-color: black;
    color: white;
}
.card-text{
    color: black;
}
.text-muted{
 
    background-color: black;
    color: white;   
}
.white{
    color: black;
    background-color: white;
}

.card-body{
    background-color: black;
    color: white;
}
.card-text{
    color: white;
    text-transform: capitalize;
    text-align: justify;
}
.fw-light{
    font-family: Algerian;
}

.readmorebtn{
    width: 95px;

}



